<a href="https://colab.research.google.com/github/Samia-Hb/Python/blob/main/Copy_of_3_2_Complete_Pandas_Tutorial_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Pandas Library**?

   **Pandas** is a powerful **data analysis** and **data manipulation** library in Python.

  It lets you:
- Load data (from CSV, Excel, SQL, JSON, etc.).

- Organize your data in ** DataFrame(2D arrays)** (like Excel or SQL).
- Clean, filter, and transform data easily.
- Load and save data from/to files like CSV, Excel, JSON, etc.
- Perform statistical analysis and visualize data (often used with Matplotlib/Seaborn).

Purpose: Organizing data to make it useful for data processing and analysis.

Pandas Data Frame:

        Pandas DataFrame is two-dimensional tabular data structure with labeled axes (rows and columns)

** Simple Example of Pandas DataFrame**

In [ ]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['Paris', 'London', 'Berlin']
}

df = pd.DataFrame(data)
print(df)

  ***Some Operation That I can Apply on my DataFrame:***

**1. Loading Data**

In [ ]:
import pandas as pd

# Load from CSV, Excel, etc.
df = pd.read_csv("data.csv")        # CSV file
df = pd.read_excel("data.xlsx")     # Excel file

**2. Basic Exploration**

In [ ]:
df.head()          # Show first 5 rows
df.tail()          # Show last 5 rows
df.shape           # (rows, columns)
df.columns         # List column names
df.info()          # Summary (types, nulls)
df.describe()      # Stats for numeric columns

**3. Data Cleaning**

In [ ]:
df.dropna()                       # Drop missing values
df.fillna(0)                      # Fill missing values
df.drop_duplicates()              # Remove duplicates
df.rename(columns={'old': 'new'}) # Rename columns
df['col'] = df['col'].astype(str) #Change data types

**4. Selection & Filtering**

In [ ]:
df['age']                 # Select a column
df[['age', 'name']]       # Select multiple columns
df[5:10]                  # Slice rows
df[df['age'] > 25]        # Filter rows
df[df['name'] == 'John']  # Conditional filter

**5. Mathematical Operations**

In [ ]:
df['salary'] + 1000
df['total'] = df['price'] * df['quantity']
df['score'].mean()        # Average
df['score'].sum()         # Total
df['score'].max()         # Max value
df['score'].min()         # Min value

**🧠 6. Grouping & Aggregating**

In [ ]:
df.groupby('department')['salary'].mean()   # Average salary by department
df.groupby('gender').agg({'salary': 'sum', 'age': 'mean'})

**🧮 7. Sorting**

In [ ]:
df.sort_values(by='age')                        # Ascending
df.sort_values(by='salary', ascending=False)    # Descending

**8. Applying Functions**

In [ ]:
df['name'].apply(len)                  # Length of each name
df['age_category'] = df['age'].apply(lambda x: 'adult' if x >= 18 else 'minor')

**9. Merging / Joining DataFrames**

In [ ]:
pd.merge(df1, df2, on='id')            # Inner join
pd.concat([df1, df2])                  # Stack vertically

** 10. Pivot Tables**

In [ ]:
# A pivot table is used to summarize data,
  # like showing average salary per department, or total sales per month.
df.pivot_table(index='department', values='salary', aggfunc='mean')

**📊 11. Plotting (optional, with Matplotlib or Seaborn)**

In [ ]:
# You can visualize your data using graphs.
  # Pandas works with Matplotlib or Seaborn to draw charts.
import matplotlib.pyplot as plt

df['age'].plot(kind='hist')
df['salary'].plot(kind='box')

**12. String Operations**

In [ ]:
df['name'].str.lower()
df['email'].str.contains('@gmail.com')
df['city'].str.replace('New', 'Old')

**13. Saving Data**

In [ ]:
df.to_csv("cleaned_data.csv", index=False)
df.to_excel("cleaned_data.xlsx")

 ## ***A Quick Summary of What We Learned :***

                      ***CVS FILE***
                name,age,score,department
                John,23,85,HR
                Alice,30,90,IT
                Bob,22,78,IT
                Eve,29,95,Sales
                Charlie,21,80,HR
                David,35,88,Sales

In [ ]:
# @title Default title text
import pandas as pd
import matplotlib.pyplot as plt

# Step 1: Load the CSV file into a DataFrame
df = pd.read_csv('students.csv')
# print("First 5 rows:")
print(df.head())
# Display summary info about data
df.info()
# Step 3: Cleaning Data
# Let's fill missing values with 'N/A' (if any)
df['department'].fillna('N/A', inplace=True)
# Remove any duplicate entries (if any)
df.drop_duplicates(inplace=True)
# Step 4: Data Selection & Filtering
# Filter students who scored above 80
filtered_data = df[df['score'] > 80]
print("\nStudents with score above 80:")
print(filtered_data)
# Step 5: Basic Mathematical Operations
# Let's calculate the average score
avg_score = df['score'].mean()
print(f"\nAverage score: {avg_score}")
# Step 6: Grouping & Aggregating Data
# Group by department and get the average score in each department
avg_score_by_dept = df.groupby('department')['score'].mean()
print("\nAverage score by department:")
print(avg_score_by_dept)
# Step 7: Sorting Data
# Sort students by score in descending order
sorted_data = df.sort_values(by='score', ascending=False)
print("\nStudents sorted by score (descending):")
print(sorted_data)
# Step 8: Plotting Data
# Plot a bar chart of average score by department
avg_score_by_dept.plot(kind='bar', color='skyblue')
plt.title('Average Score by Department')
plt.ylabel('Average Score')
plt.show()
# Step 9: Pivot Table (optional)
# Pivot table showing average score per department
pivot_table = df.pivot_table(index='department', values='score', aggfunc='mean')
print("\nPivot table showing average score by department:")
print(pivot_table)
# Step 10: String Operations (for demonstration)
# Convert names to uppercase
df['name'] = df['name'].str.upper()
print(df)
# Step 11: Save Processed Data
# Save the cleaned DataFrame to a new CSV file
df.to_csv('cleaned_students.csv', index=False)
print("\nData saved to 'cleaned_students.csv'.")

                      Basic Result:

        First 5 rows:
          name  age  score department
      0    John   23     85        HR
      1   Alice   30     90        IT
      2     Bob   22     78        IT
      3     Eve   29     95     Sales
      4  Charlie   21     80        HR

      Data info:
      <class 'pandas.core.frame.DataFrame'>
      RangeIndex: 6 entries, 0 to 5
      Data columns (total 4 columns):
      #   Column      Non-Null Count  Dtype  
      ---  ------      --------------  -----  
      0   name        6 non-null      object
      1   age         6 non-null      int64  
      2   score       6 non-null      int64  
      3   department  6 non-null      object
      dtypes: int64(2), object(2)
      memory usage: 224.0+ bytes

      Filtered Data (Score > 80):

      Students with score above 80:
          name  age  score department
      0    John   23     85        HR
      1   Alice   30     90        IT
      3     Eve   29     95     Sales

      Average Score by Department:

      Average score by department:
      department
      HR        82.5
      IT        84.0
      Sales     90.0
      Name: score, dtype: float64

      Sorted Data:

      Students sorted by score (descending):
          name  age  score department
      3     Eve   29     95     Sales
      1   Alice   30     90        IT
      0    John   23     85        HR
      4  Charlie   21     80        HR
      2     Bob   22     78        IT

**⏬ For More Deep Information Read Bellow ⏬**

In [2]:
# importing the pandas library
import pandas as pd
import numpy as np

Creaating a Pandas DataFrame

In [7]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.11/dist-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (2.0.2)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (3.6.0)

In [10]:
# importing the boston house price data
from sklearn.datasets import fetch_california_housing

# data = fetch_california_housing()
# print(data.feature_names)

In [12]:
california_dataset = fetch_california_housing()

In [ ]:
type(boston_dataset)

In [ ]:
print(boston_dataset)

In [ ]:
# pandas DataFrame
boston_df = pd.DataFrame(boston_dataset.data, columns = boston_dataset.feature_names)

In [ ]:
boston_df.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

In [ ]:
boston_df.shape

(506, 13)

In [ ]:
type(boston_df)

pandas.core.frame.DataFrame

Importing the data from a CSV file to a pandas DataFrame

In [ ]:
# csv file to pandas df
diabetes_df = pd.read_csv('/content/diabetes.csv')

In [ ]:
type(diabetes_df)

pandas.core.frame.DataFrame

In [ ]:
diabetes_df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [ ]:
diabetes_df.shape

(768, 9)

Loading the data from a excel file to a Pandas DataFrame:

pd.read_excel('file path')

Exporting a DataFrame to a csv file

In [ ]:
boston_df.to_csv('boston.csv')

Exporting the Pandas DataFrame to an excel File:

df.to_excel('filename')

In [ ]:
# creating a DatFrame with random values
random_df = pd.DataFrame(np.random.rand(20,10))

In [ ]:
random_df.head()

          0         1         2  ...         7         8         9
0  0.978586  0.798457  0.756065  ...  0.887155  0.077107  0.370573
1  0.078777  0.295596  0.608408  ...  0.753831  0.261745  0.916683
2  0.172873  0.971198  0.592191  ...  0.415321  0.350072  0.943297
3  0.812212  0.612494  0.011446  ...  0.560469  0.467133  0.629038
4  0.629319  0.046347  0.918180  ...  0.352690  0.029239  0.436268

[5 rows x 10 columns]

In [ ]:
random_df.shape

(20, 10)

Inspecting a DataFrame

In [ ]:
#finding the number of rows & columns
boston_df.shape

(506, 13)

In [ ]:
# first 5 rows in a DataFrame
boston_df.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

In [ ]:
# last 5 rows of the DataFrame
boston_df.tail()

        CRIM   ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
501  0.06263  0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  391.99   9.67
502  0.04527  0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   9.08
503  0.06076  0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   5.64
504  0.10959  0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  393.45   6.48
505  0.04741  0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   7.88

[5 rows x 13 columns]

In [ ]:
# informations about the DataFrame
boston_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

In [ ]:
# finding the number of missing values
boston_df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
dtype: int64

In [ ]:
# diabetes dataframe
diabetes_df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [ ]:
# counting the values based on the labels
diabetes_df.value_counts('Outcome')

Outcome
0    500
1    268
dtype: int64

In [ ]:
# group the values based on the mean
diabetes_df.groupby('Outcome').mean()

         Pregnancies     Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                           ...
0           3.298000  109.980000  ...                  0.429734  31.190000
1           4.865672  141.257463  ...                  0.550500  37.067164

[2 rows x 8 columns]

Statistical Measures

In [ ]:
# count or number of values
boston_df.count()

CRIM       506
ZN         506
INDUS      506
CHAS       506
NOX        506
RM         506
AGE        506
DIS        506
RAD        506
TAX        506
PTRATIO    506
B          506
LSTAT      506
dtype: int64

In [ ]:
# mean value - column wise
boston_df.mean()

CRIM         3.613524
ZN          11.363636
INDUS       11.136779
CHAS         0.069170
NOX          0.554695
RM           6.284634
AGE         68.574901
DIS          3.795043
RAD          9.549407
TAX        408.237154
PTRATIO     18.455534
B          356.674032
LSTAT       12.653063
dtype: float64

In [ ]:
# standard deviation - column wise
boston_df.std()

CRIM         8.601545
ZN          23.322453
INDUS        6.860353
CHAS         0.253994
NOX          0.115878
RM           0.702617
AGE         28.148861
DIS          2.105710
RAD          8.707259
TAX        168.537116
PTRATIO      2.164946
B           91.294864
LSTAT        7.141062
dtype: float64

In [ ]:
# minimum value
boston_df.min()

CRIM         0.00632
ZN           0.00000
INDUS        0.46000
CHAS         0.00000
NOX          0.38500
RM           3.56100
AGE          2.90000
DIS          1.12960
RAD          1.00000
TAX        187.00000
PTRATIO     12.60000
B            0.32000
LSTAT        1.73000
dtype: float64

In [ ]:
# maximum value
boston_df.max()

CRIM        88.9762
ZN         100.0000
INDUS       27.7400
CHAS         1.0000
NOX          0.8710
RM           8.7800
AGE        100.0000
DIS         12.1265
RAD         24.0000
TAX        711.0000
PTRATIO     22.0000
B          396.9000
LSTAT       37.9700
dtype: float64

In [ ]:
# all the statistical measures about the dataframe
boston_df.describe()

             CRIM          ZN       INDUS  ...     PTRATIO           B       LSTAT
count  506.000000  506.000000  506.000000  ...  506.000000  506.000000  506.000000
mean     3.613524   11.363636   11.136779  ...   18.455534  356.674032   12.653063
std      8.601545   23.322453    6.860353  ...    2.164946   91.294864    7.141062
min      0.006320    0.000000    0.460000  ...   12.600000    0.320000    1.730000
25%      0.082045    0.000000    5.190000  ...   17.400000  375.377500    6.950000
50%      0.256510    0.000000    9.690000  ...   19.050000  391.440000   11.360000
75%      3.677083   12.500000   18.100000  ...   20.200000  396.225000   16.955000
max     88.976200  100.000000   27.740000  ...   22.000000  396.900000   37.970000

[8 rows x 13 columns]

Manipulating a DataFrame

In [ ]:
# adding a column to a dataframe
boston_df['Price'] = boston_dataset.target

In [ ]:
boston_df.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  Price
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98   24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14   21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03   34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94   33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33   36.2

[5 rows x 14 columns]

In [ ]:
# removing a row
boston_df.drop(index=0, axis=0)

        CRIM   ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  Price
1    0.02731  0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14   21.6
2    0.02729  0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03   34.7
3    0.03237  0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94   33.4
4    0.06905  0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33   36.2
5    0.02985  0.0   2.18   0.0  0.458  ...  222.0     18.7  394.12   5.21   28.7
..       ...  ...    ...   ...    ...  ...    ...      ...     ...    ...    ...
501  0.06263  0.0  11.93   0.0  0.573  ...  273.0     21.0  391.99   9.67   22.4
502  0.04527  0.0  11.93   0.0  0.573  ...  273.0     21.0  396.90   9.08   20.6
503  0.06076  0.0  11.93   0.0  0.573  ...  273.0     21.0  396.90   5.64   23.9
504  0.10959  0.0  11.93   0.0  0.573  ...  273.0     21.0  393.45   6.48   22.0
505  0.04741  0.0  11.93   0.0  0.573  ...  273.0     21.0  396.90   7.88   11.9

[505 rows x 14 columns]

In [ ]:
# drop a column
boston_df.drop(columns='ZN', axis=1)

        CRIM  INDUS  CHAS    NOX     RM  ...    TAX  PTRATIO       B  LSTAT  Price
0    0.00632   2.31   0.0  0.538  6.575  ...  296.0     15.3  396.90   4.98   24.0
1    0.02731   7.07   0.0  0.469  6.421  ...  242.0     17.8  396.90   9.14   21.6
2    0.02729   7.07   0.0  0.469  7.185  ...  242.0     17.8  392.83   4.03   34.7
3    0.03237   2.18   0.0  0.458  6.998  ...  222.0     18.7  394.63   2.94   33.4
4    0.06905   2.18   0.0  0.458  7.147  ...  222.0     18.7  396.90   5.33   36.2
..       ...    ...   ...    ...    ...  ...    ...      ...     ...    ...    ...
501  0.06263  11.93   0.0  0.573  6.593  ...  273.0     21.0  391.99   9.67   22.4
502  0.04527  11.93   0.0  0.573  6.120  ...  273.0     21.0  396.90   9.08   20.6
503  0.06076  11.93   0.0  0.573  6.976  ...  273.0     21.0  396.90   5.64   23.9
504  0.10959  11.93   0.0  0.573  6.794  ...  273.0     21.0  393.45   6.48   22.0
505  0.04741  11.93   0.0  0.573  6.030  ...  273.0     21.0  396.90   7.88   11.9

[506 rows x 13 columns]

In [ ]:
# locating a row using the index value
boston_df.iloc[2]

CRIM         0.02729
ZN           0.00000
INDUS        7.07000
CHAS         0.00000
NOX          0.46900
RM           7.18500
AGE         61.10000
DIS          4.96710
RAD          2.00000
TAX        242.00000
PTRATIO     17.80000
B          392.83000
LSTAT        4.03000
Price       34.70000
Name: 2, dtype: float64

In [ ]:
# locating a particular column
print(boston_df.iloc[:,0])  # first column
print(boston_df.iloc[:,1])  # second column
print(boston_df.iloc[:,2])  # third column
print(boston_df.iloc[:,-1]) # last column

0      0.00632
1      0.02731
2      0.02729
3      0.03237
4      0.06905
        ...
501    0.06263
502    0.04527
503    0.06076
504    0.10959
505    0.04741
Name: CRIM, Length: 506, dtype: float64
0      18.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
501     0.0
502     0.0
503     0.0
504     0.0
505     0.0
Name: ZN, Length: 506, dtype: float64
0       2.31
1       7.07
2       7.07
3       2.18
4       2.18
       ...
501    11.93
502    11.93
503    11.93
504    11.93
505    11.93
Name: INDUS, Length: 506, dtype: float64
0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: Price, Length: 506, dtype: float64

Correlation:

1. Positive Correlation
2. Negative Correlation

In [ ]:
boston_df.corr()

             CRIM        ZN     INDUS  ...         B     LSTAT     Price
CRIM     1.000000 -0.200469  0.406583  ... -0.385064  0.455621 -0.388305
ZN      -0.200469  1.000000 -0.533828  ...  0.175520 -0.412995  0.360445
INDUS    0.406583 -0.533828  1.000000  ... -0.356977  0.603800 -0.483725
CHAS    -0.055892 -0.042697  0.062938  ...  0.048788 -0.053929  0.175260
NOX      0.420972 -0.516604  0.763651  ... -0.380051  0.590879 -0.427321
RM      -0.219247  0.311991 -0.391676  ...  0.128069 -0.613808  0.695360
AGE      0.352734 -0.569537  0.644779  ... -0.273534  0.602339 -0.376955
DIS     -0.379670  0.664408 -0.708027  ...  0.291512 -0.496996  0.249929
RAD      0.625505 -0.311948  0.595129  ... -0.444413  0.488676 -0.381626
TAX      0.582764 -0.314563  0.720760  ... -0.441808  0.543993 -0.468536
PTRATIO  0.289946 -0.391679  0.383248  ... -0.177383  0.374044 -0.507787
B       -0.385064  0.175520 -0.356977  ...  1.000000 -0.366087  0.333461
LSTAT    0.455621 -0.412995  0.603800  ... -0.366087  1.000000 -0.737663
Price   -0.388305  0.360445 -0.483725  ...  0.333461 -0.737663  1.000000

[14 rows x 14 columns]